.App {
  text-align: center;   
}

#movie-search-form {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 25px;
  background: linear-gradient(black, blue, lightskyblue);
}

input {
  width: 50%;
  margin: 5px;
  height: 25px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 2px;
}

input:focus, button:focus {
  outline: lightblue;
}

button {
  height: 25px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.movie {
  flex: 1;
  flex-basis: 30%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background: linear-gradient(black, blue, lightskyblue);
}

.movie img {
  width: 200px;
  height: 300px;
}

.title {
  color: white;
  font-weight: bolder;
  font-size: 25px;
}

@media (min-width: 900px) {
  #movie-container {
    display: flex;
    flex-wrap: wrap;     
    justify-content: space-between
  }
}